<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            getPosts();

        })

        function getPosts() {
            $('#cards-box').empty();

            $.ajax({
                type: "GET",
                url: "/api/posts",
                data: {},
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let posts = response[i];
                        let id = posts['id'];
                        let title = posts['title']
                        let author = posts['author'];
                        let contents = posts['contents'];
                        let createdAt = posts['createdAt'];
                        addHTML(id, title, author, createdAt);
                    }
                }
            });
        }

        function addHTML(id, title, author, contents, createdAt) {
            let tempHtml = makePosts(id, title, author, contents, createdAt);
            $('#post-card').append(tempHtml);
        }

        function makePosts(id, title, author, createdAt) {
            return `
                <tr>
                    <td>${id}</td>
                    <td><a onclick="postPage(${id})">${title}</a></td>
                    <td>${author}</td>
                    <td>${createdAt}</td>
                </tr>
                `;
        }


        function postPage(id){



            $.ajax({
                type: "GET",
                url: "/api/post/" + id,
                data: {},
                success: function (response) {

                    $('#uploadPost').remove();
                    $('#post-table').remove();

                    let temp_html = ``;

                    temp_html += `
                    <h2 id="post_title">${response.title}</h2>
                    <h3 id="post_author">${response.author}</h3>
                    <p id="post_contents">${response.contents}</p>

                    <div>
    <button onclick="postDelete(${id})">글 삭제</button>
    <button onclick="postUpdate(${id})">글 수정하기</button>
    <input type="password" id="password" name="password" placeholder="password">
</div>
                        `;



                    $('#wrapper').append(temp_html);
                }
            });


        }




            function postDelete(id){

            let password = $('#password').val();



            let data = {
            'password' : password };

            $.ajax({
            method: 'DELETE',
            url: "/api/post/" + id ,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {

            result = response["result"]


            if (result == true) {

            alert('포스트가 성공적으로 삭제되었습니다.');
            window.location.href="/";

        }else{
            alert('비밀번호가 다릅니다.');
        }



        }
        });
        }



            function postUpdate(id){

            let password = $('#password').val();

            $('#postBox').empty();

            let tempHtml = ``;

            tempHtml += `
<input type="text" id="title" name="title" value=` + $('#post_title').text() + ` placeholder="title" >
<input type="text" id="author" name="author" value=`  + $('#post_author').text() + ` placeholder="author" >
<textarea id="contents" >`+ $('#post_contents').text()+ `</textarea>
<button onclick="postUpdateRequest(${id})">글 수정완료</button>
`
            $('#postBox').append(tempHtml);

        }

            function postUpdateRequest(id){
            // 1. 수정할 포스트를 불러옵니다.
            let contents = $('#contents').val();
            let title = $('#title').val();
            let author = $('#author').val();
            let password = $('#password').val();


            // 2. 전달할 data JSON으로 만듭니다.
            let data = {
            'title' : title,
            'contents': contents,
            'author': author,
            'password':password};

            $.ajax({
            type: "PUT",
            url: "/api/post/"+id,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {



            if (!response) {
            alert('글이 존재하지 않거나, 비밀번호가 다릅니다.');

        }else{
            alert('포스트가 성공적으로 수정되었습니다.');
                location.reload();
        }

        }
        });
        }



    </script>




<style>

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    width: 1200px;
    margin: 0px auto 0px auto;
}


.wrapper {


    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

button{
    margin: 0px auto 0px auto;
}


</style>

</head>
<body>

<div class="wrapper" id="wrapper">


<table id="post-table" class="post-table">

    <tbody id="post-card">

    <tr id="post-row">
        <th style="width: 100px;">글 번호</th>
        <th style="width: 100px;">글 제목</th>
        <th style="width: 100px;">글쓴이</th>
        <th style="width: 300px;">작성 날짜</th>
    </tr>

    </tbody>
</table>


    <button id="uploadPost" style="width: 100px; height:50px;"onclick="location.href='/upload/post'">글 쓰기</button>


</div>

<div id="postBox">

</div>


</body>
</html>