<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<!--    <script th:inline="javascript">-->


</head>
<body>







<div id="postBox">



<div id="postMeta">
    <span>제목 : [[${selectPostShowDto.title}]]</span>
    <span>작성자 : [[${selectPostShowDto.author}]]</span>
</div>


<div id="postContents">

    [[${selectPostShowDto.contents}]]

</div>




</div>



</body>
</html>